* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.15rem;
  font-weight: 550;
}

body {
  color: black;
  background-color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.blogs-container,
.projects-container,
.experiences-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2em;
  column-gap: 2em;
  justify-items: center;
  align-items: center;
}

.home-container,
.about-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.itemcard .card-footer {
  background: inherit;
}

.itemcard .card-header {
  background: inherit;
}

.project-container,
.blog-container,
.experience-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.github-container .github-item-footer a {
  max-width: 70%;
}

@media only screen and (max-width: 860px) {
  .blogs-container,
  .projects-container,
  .experiences-container {
    grid-template-columns: 1fr;
  }
  .home-container,
  .about-container,
  .project-container,
  .blog-container,
  .experience-container {
    width: 90%;
  }

  .github-container .list-group-item {
    flex-direction: column;
  }

  .github-container .github-item-footer {
    flex-direction: column;
  }

  .github-container .github-item-footer span {
    margin-top: 6px;
  }

  .github-container .github-item-footer a {
    max-width: 100%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.horizontal-scrollbar::-webkit-scrollbar {
  height: 0px;
  width: auto;
}

.horizontal-scrollbar:hover::-webkit-scrollbar {
  height: 1.4px;
}
